* {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* HTML */

html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    background: var(--white);
}

input{
    border-color: var(--blueDark)!important;
}


/* VARS */
:root {
    --white: #f2f2f2;
    --blueDark: #33394f;
}