* {
    box-sizing: border-box;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-size: 100%;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* HTML */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

/* VARS */
:root {
    --darkBlue: #002742;
    --blue: #74A7CC;
    --secondaryColor: #56829E;
}